@import "highlight.js/styles/github.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "highlight.js/styles/github.css"; */

:root {
  --background: #ffffff80;
  --foreground: #0a0a0a;

  --accent: #f5f5f5;
  --accent_foreground: #171717;

  --muted: #f5f5f580;
  --muted_solid: #f5f5f5;
  --muted_foreground: #737373;

  --card_bg: #f0f0f080;
  --card_solid: #eeeeee;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --code: #1e1e1e;
}

.dark {
  --background: #0a0a0a80;
  --foreground: #fafafa;

  --accent: #262626;
  --accent_foreground: #fafafa;

  --muted: #3d3d3d80;
  --muted_solid: #3d3d3d;
  --muted_foreground: #a3a3a3;

  --card_bg: #1a1a1a80;
  --card_solid: #1e1e1e;

  --border: #3d3d3d;
  --input: #262626;
  --code: #121619;
}

* {
  border-color: var(--border);
}

pre {
  @apply rounded-md p-4 text-sm overflow-x-auto;
  background-color: var(--code) !important;
}

pre code {
  background-color: transparent !important;
}

[data-theme="github-dark"] .line {
  @apply block px-4;
}
