@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff80;
  --foreground: #0a0a0a;
  --border: #e5e5e5;
  --muted: #f5f5f580;
  --muted_solid: #f5f5f5;
  --muted_foreground: #737373;
}

.dark {
  --background: #0a0a0a80;
  --foreground: #fafafa;
  --border: #3d3d3d;
  --muted: #3d3d3d80;
  --muted_solid: #3d3d3d;
  --muted_foreground: #a3a3a3;
}

* {
  border-color: var(--border);
}
